/* frontend/src/styles/DailyTimesheet.css */
.timesheet-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #e5c999;
    border-radius: 8px;
  }
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  .task-input, .github-input {
    margin-bottom: 15px;
  }
  
.dtsh2{
    background-color: #000;
    align-items: center;
    color:#e5c999;
    display:flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

.timediv{
    color:black;
}

.submitted-timesheets{
    color :black;
}
.calendar-section{
    color : black;
}