/* src/styles/HRTimesheets.css */
.hr-timesheets-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    color : white;
    background: #111111;
    border-radius: 8px;
  }
  
  .timesheet-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .timesheet-table th,
  .timesheet-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .timesheet-table th {
    background-color: #101010;
    text-align: left;
  }

  .timesheet-table td {
    background-color: #e5c999;
  }
  